@use "../../App";

body {
    overflow-anchor: none;
  }

.firstSection{
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(210,215,221,0.7063200280112045) 9%, rgba(249,249,249,1) 85%), url("../../assets/backgroundMain.jpg");
    background-size: cover;
}

.secondSection{
    height: 100vh;
    background-color: #111111;
}