// COLORS FOR ORBIT ICONS

//LIGHT

$blue-light: #72a4f0;
$orange-light: #e68e53;
$yellow-light: #dbc65a;
$green-light: #74c273;
$red-light: #ee5a50;
$purple-light: #d888e3;
$cyan-light: #7dc6e0;
$brown-light: #a0816e;

$white-light: transparent;

//DARK

$blue-dark: #4e72a8;
$orange-dark: #b95f22;
$yellow-dark: #a59543;
$green-dark: #4a804a;
$red-dark: #ac4038;
$purple-dark: #97609e;
$cyan-dark: #4995b1;
$brown-dark: #6e584a;

$white-dark: #868686;
